@model IEnumerable<FerrazIrrigacoes.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Produto</h2>

<p>
    @Html.ActionLink("Novo", "Create", null, new {@class = "btn btn-success btn-sm"})
</p>
<table class="table table-bordered table-hover table-striped bg-white">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriasTipo1.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca1.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadeMedidaTipos1.Nome)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estoque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriasTipo1.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca1.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnidadeMedidaTipos1.Nome)
        </td>
        <td style="text-align: center;">
            <div class="btn-group" role="group">
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </div>
        </td>
    </tr>
}

</table>
