@model IEnumerable<FerrazIrrigacoes.Models.CategoriasTipo>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Categorias
    <i class="fas fa-folder-plus text-success" style="font-size: 3rem; cursor: pointer; color: #31c533;" 
       onclick="window.location='@Url.Action("Create", "CategoriasTipo")'"></i>
</h2>

<table class="table" style="background-color: white;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td style="text-align: center;">
            <div class="btn-group" role="group">
                @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-primary btn-sm" }) 
           
                @Html.ActionLink("Deletar", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm" })
            </div>           
        </td>
    </tr>
}

</table>
