@model IEnumerable<FerrazIrrigacoes.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2 class="text-center">Lista de Clientes 
    <i class="fas fa-user-plus text-success" style="font-size: 3rem; cursor: pointer; color: #31c533;" 
       onclick="window.location='@Url.Action("Create", "Cliente")'"></i>
</h2>

<table class="table table-bordered table-hover table-striped bg-white">
    <thead class="thead-light">
        <tr class="text-center">
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.CPF)</th>
            <th>@Html.DisplayNameFor(model => model.Telefone)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Rua)</th>
            <th>@Html.DisplayNameFor(model => model.Bairro)</th>
            <th>@Html.DisplayNameFor(model => model.CEP)</th>
            <th>@Html.DisplayNameFor(model => model.Numero)</th>
            <th>@Html.DisplayNameFor(model => model.Complemento)</th>
            <th>@Html.DisplayNameFor(model => model.Cidade1.CidadeNome)</th>
            <th style="text-align: center;">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.CPF)</td>
                <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Rua)</td>
                <td>@Html.DisplayFor(modelItem => item.Bairro)</td>
                <td>@Html.DisplayFor(modelItem => item.CEP)</td>
                <td>@Html.DisplayFor(modelItem => item.Numero)</td>
                <td>@Html.DisplayFor(modelItem => item.Complemento)</td>
                <td class="text-center">
                    @Html.Raw(item.Cidade1 != null && item.Cidade1.CidadeNome != null 
                        ? item.Cidade1.CidadeNome 
                        : "Não Informada")
                </td>
                <td style="text-align: center;">
                    <div class="d-flex justify-content-center">
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm me-2" })
                        @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
