<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="content/site.css" />
    <script src="https://kit.fontawesome.com/e2b4ec850b.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="~/resources/logo.png" alt="logo" />
            <h2>Ferraz Irrigações</h2>
        </div>
        <ul class="sidebar-links">
            <h4>
                <span>Cadastro</span>
                <div class="menu-separator"></div>
            </h4>

            <li><a href="@Url.Content("~/Cliente")"><span class="fa-solid fa-user"> </span>Cliente</a> </li>
            <li><a href="@Url.Content("~/Cidade")"><span class="fa-solid fa-city"></span>Cidade</a></li>
            <li><a href="@Url.Content("~/Empresa")"><span class="fa-solid fa-handshake"> </span>Empresa</a></li>

            <h4>
                <span>Produtos</span>
                <div class="menu-separator"></div>
            </h4>

            <li><a href="@Url.Content("~/Produto")"><span class="fa-solid fa-barcode"> </span>Produto</a></li>
            <li><a href="@Url.Content("~/CategoriasTipo")"><span class="fa-solid fa-layer-group"></span>Categorias</a></li>
            <li><a href="@Url.Content("~/Marca")"><span class="fa-solid fa-registered"></span>Marca</a></li>

            <h4>
                <span>Ordem de Serviço</span>
                <div class="menu-separator"></div>
            </h4>

            <li><a href="@Url.Content("~/Lancamento")"><span class="fa-solid fa-store"> </span>Lançamento</a> </li>
            <li><a href="@Url.Content("~/Venda/Lancar")"><span class="fa-solid fa-store"> </span>Vendas</a> </li>
        </ul>


        <div class="user-account">
            <div class="user-profile">
                <img src="~/resources/Usuarioboi.png" alt="Profile Image" />
                <div class="user-detail">
                    <h3>Usuário boi</h3>
                    <span>Agricultor</span>
                </div>
            </div>
        </div>
    </aside>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Direitos reservados | Mindhtech Corporate ® </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>