@model IEnumerable<FerrazIrrigacoes.Models.ItensVenda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ValorProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotalProdutos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto1.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venda1.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ValorProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotalProdutos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto1.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venda1.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
