@model FerrazIrrigacoes.Models.Usuario


@{
    Layout = null;
}

<script src="https://kit.fontawesome.com/e2b4ec850b.js" crossorigin="anonymous"></script>
<link href="~/Content/cssti.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.7.0.js"></script>


@using (Html.BeginForm("Login", "Usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container">
        <div class="form-login">
            <div class="logo-container">
                <img src="~/resources/logo.png" alt="Logo" class="logo">
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Painel Administrador</div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <div style="display:none" id="result" class="alert alert-danger col-sm-12"></div>

                    <div style="margin-bottom:25px" class="input-group">
                        <span class="input-group-addon">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        @Html.EditorFor(model => model.Email, new
                        {
                            htmlAttributes = new
                            {
                                @class = "form-control input-lg",
                                placeholder = "E-mail",
                                autofocus = true
                            }
                        })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div style="margin-bottom:25px" class="input-group">
                        <span class="input-group-addon">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        @Html.EditorFor(model => model.Senha, new
                        {
                            htmlAttributes = new
                            {
                                @class = "form-control input-lg",
                                placeholder = "Senha",
                                autofocus = true,
                                type = "password"
                            }
                        })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>

                    <div class="button-container">
                        <input type="submit" value="Login" class="btn btn-success btn-lg" />
                        <input type="reset" value="Limpar" class="btn btn-danger btn-lg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
